.softblock{
    display: block; width: 100%;    padding: 2px 15px; margin-bottom: 5px;
    background-color: #e3f8f8; border: 1px dashed rgb(200, 255, 0);
}

.hapus{
    background-color: #ff7777; color: black; display: table-cell; width: 24px;
    cursor: pointer;
}

.banner{
    height: 90px; background-color: #b8ff33; color: rgb(1, 1, 100);
}
.ban1 { font-size: 24px; margin: 0; padding:0;}
.ban2 { font-size: 16px; margin: 0; padding:0;}
.ban3 { font-size: 14px; margin: 0; padding:0;}

.fg-tipis { margin-bottom: 1px;}